.Home {
  position: relative;
  top: 40px;
  left: 6vw;
  width: 90.4vw;
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: white;

  .upper-section {
    width: 100%;
    position: fixed;
    left: 100px;
    display: flex;
    align-items: center;
    padding: 17px 13px;
    background-color: white;
    z-index: 2;

    .shortLinks-btn {
      padding: 8px 13px;
      border: none;
      border-radius: 8px;
      font-weight: 500;
      font-size: 16px;
      background-color: #f2f2f2;
      color: black;
      margin-right: 12px;
      cursor: pointer;
      transition: all 0.2s ease;
    }

    .shortLinks-btn:hover {
      background-color: #E6E2E2;
    }

    .shortLinks-btn:focus {
      background-color: black;
      color: white;
    }
  }

  .lower-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

    .ShowErrorPage {
      height: 91.8vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      :nth-child(2) {
        color: black;
        font-size: 20px;
      }

      :last-child {
        font-size: 18px;
        border: none;
        padding: 8px 13px;
        border-radius: 17px;
        font-weight: 600;
        background-color: black;
        color: white;
        cursor: pointer;
      }
    }
  }

  &.dark {
    background-color: #0a0a0b;

    .upper-section {
      background-color: #0a0a0b;

      .shortLinks-btn {
        background-color: #303030;
        color: white;
      }

      .shortLinks-btn:hover {
        background-color: #555555;
      }

      .shortLinks-btn:focus {
        background-color: white;
        color: black;
      }
    }

    .lower-section {
      .ShowErrorPage {

        :nth-child(2) {
          color: white;
        }

        :last-child {
          background-color: white;
          color: black;
        }
      }
    }
  }

  &.active {
    left: calc(100vw - 85vw);
    width: 80.6vw;

    .upper-section {
      left: 237px;
    }
  }
}