.shortVideoCard {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.5s ease;

  .thumbnail-wrapper {
    flex: 3;
    overflow: hidden;
    height: 80px;

    .VideoCard-img {
      height: 80px;
      width: 155px;
      transform: scaleY(1.4);
    }
  }

  .thumbnail-wrapper::-webkit-scrollbar {
    display: none;
  }

  .VideoCard-details {
    flex: 7;

    .VideoCard-description {
      margin: 0;
      font-weight: 500;
      color: black;
    }

    .VideoCard-channel-name {
      margin: 10px 0 0;
      font-size: 14px;
      color: #555555;
    }
  }

  &.dark {
    .VideoCard-details {
      .VideoCard-description {
        color: white;
      }

      .VideoCard-channel-name {
        color: #7E7E7E;
      }
    }
  }
}